* {
    box-sizing: border-box;
}
body {
  
  background-color: lemonchiffon;
  font-family: Ubuntu, sans-serif;
  margin: 0;
 
}



header {

background: #ffff;
color:#000000;

}
  .hero{
    display: flex;
    /* Does the align-items: center; actually do anything here?*/
    align-items: center;
    justify-content: center;
    padding:5%; 
  }

/*
.my-name {
padding: 0% 0% 0% 0%;
text-align:left;
color: black;
position: auto;
left: 0px;
}
*/
/*
.logo {
  width: 20%;
  height: 20%;
  padding: 0px 0px 0px 0px;
}
*/
/*
.web-dev >h1 {

}
*/

nav {

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  font-size: 150%;
  
}


nav a{
color:black;
padding: 0px 50px;
text-decoration: none;
text-shadow: 2px 2px rgb(225, 223, 247);
text-align: center;
}



.cityscape {
  width: 100%;
  /* what's the difference between height:auto and height:vh?*/
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  
}

.sidebar > h2{
  flex: 0 0 30%;
}

.sidebar >div {
  flex: 0 0 67%;

}

.work-container-big-image{
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 align-items: center;


}

.work-container-work-02 {
display: flex;
flex-wrap: wrap;

}


.work-container-work-03{
  display: flex;
  flex-wrap: wrap;
  
  }

  .work-container-work-04{
    display: flex;
    flex-wrap: wrap;
    
    }

    .work-container-work-05{
      display: flex;
      flex-wrap: wrap;
      
      }

  .work-project-big{
    width: 500px;
    height: 100px;
    background-color: cornflowerblue;
    color: #fff;
    margin: 10px;
  }

.work-project{
  width: 300px;
  height: 100px;
  background-color: cornflowerblue;
  color: #fff;
  margin: 10px;
}

/*
.work-holder {
  flex: 30%;
  background-color: deepskyblue;
}
*/

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .my-name {
    font-size: 100%;
    }
    .web-dev h1 {
      font-size: 100%;
    }
    
  }


/* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  
    .my-name {
      font-size: 100%;
      }
      .web-dev h1 {
        font-size: 100%;
      }


      .logo {
        width: 15%;
        height: 15%;
        padding: 0px 0px 0px 0px;
  
      }
    
    } 

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
   
    .my-name {
    font-size: 150%;
    }
    .web-dev {
      font-size: 150%;
    }


    .logo {
      width: 15%;
      height: 15%;
      padding: 0px 0px 0px 0px;
    }
    }
    
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
   
    .my-name {
      font-size: 300%;
      }
      .web-dev {
        font-size: 300%;
      }
     
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media screen and (max-width: 768px) {
    .example {
      background: orange;
      }
  }

  
  



